.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.inputField {
    width: 50%
}

.button {
    width: 50%;
}

.forgotPass {
    margin:1rem;
}

.modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* add bsPrefix={styles.buttonsContainer} to component for custom styles */
.buttonsContainer {
    display:flex;
    justify-content: center;
}